## 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import csv 
import matplotlib.pyplot as plt

In [2]:
data_2019_01 = pd.read_csv('./data/H_data/T20_2019_1백만.1.csv', encoding='cp949')
data_2019_02 = pd.read_csv('./data/H_data/T20_2019_1백만.2.csv', encoding='cp949')
data_2019_03 = pd.read_csv('./data/H_data/T20_2019_1백만.3.csv', encoding='cp949')

In [3]:
print(data_2019_01.info())
print(data_2019_02.info())
print(data_2019_03.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4624144 entries, 0 to 4624143
Data columns (total 19 columns):
 #   Column      Dtype
---  ------      -----
 0   기준년도        int64
 1   가입자 일련번호    int64
 2   진료내역일련번호    int64
 3   성별코드        int64
 4   연령대코드       int64
 5   시도코드        int64
 6   요양개시일자      int64
 7   서식코드        int64
 8   진료과목코드      int64
 9   주상병코드       object
 10  부상병코드       object
 11  요양일수        int64
 12  입내원일수       int64
 13  심결가산율       float64
 14  심결요양급여비용총액  int64
 15  심결본인부담금     int64
 16  심결보험자부담금    int64
 17  총처방일수       int64
 18  데이터 기준일자    int64
dtypes: float64(1), int64(16), object(2)
memory usage: 670.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4602774 entries, 0 to 4602773
Data columns (total 19 columns):
 #   Column      Dtype
---  ------      -----
 0   기준년도        int64
 1   가입자 일련번호    int64
 2   진료내역일련번호    int64
 3   성별코드        int64
 4   연령대코드       int64
 5   시도코드        int64
 6   요양개시일자      int64
 7   서식코드        int64
 8   진료과목코드      int64
 9   주상병코드       object
 10  부상병코드       object
 11  요양일수        int64
 12  입내원일수       int64
 13  심결가산율       float64
 14  심결요양급여비용총액  int64
 15  심결본인부담금     int64
 16  심결보험자부담금    int64
 17  총처방일수       int64
 18  데이터 기준일자    int64
dtypes: float64(1), int64(16), object(2)
memory usage: 667.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3951427 entries, 0 to 3951426
Data columns (total 19 columns):
 #   Column      Dtype
---  ------      -----
 0   기준년도        int64
 1   가입자 일련번호    int64
 2   진료내역일련번호    int64
 3   성별코드        int64
 4   연령대코드       int64
 5   시도코드        int64
 6   요양개시일자      int64
 7   서식코드        int64
 8   진료과목코드      int64
 9   주상병코드       object
 10  부상병코드       object
 11  요양일수        int64
 12  입내원일수       int64
 13  심결가산율       float64
 14  심결요양급여비용총액  int64
 15  심결본인부담금     int64
 16  심결보험자부담금    int64
 17  총처방일수       int64
 18  데이터 기준일자    int64
dtypes: float64(1), int64(16), object(2)
memory usage: 572.8+ MB
None

null 값 확인하기

In [4]:
data_2019_01.isnull()   # .any().sum()

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4624139,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4624140,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4624141,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4624142,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4624143,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
data_2019_01.isnull().any().sum()

0

## 파일 합치기 (for구문, concat 사용)

- for구문

In [6]:
hos_data = pd.DataFrame([])

f_list = ['./data/H_data/T20_2019_1백만.1.csv','./data/H_data/T20_2019_1백만.2.csv','./data/H_data/T20_2019_1백만.3.csv']

for fname in f_list:
    temp = pd.read_csv(fname, encoding='cp949')
    hos_data = hos_data.append(temp)

hos_data.head()

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
0,2019,1,104243474,2,12,46,20191104,3,5,M751,M750,1,1,0.25,19240,9600,9640,0,20201222
1,2019,1,107479370,2,12,46,20190806,3,1,E1164,N308,1,1,0.25,145680,72800,72880,0,20201222
2,2019,1,106881883,2,12,46,20190920,3,1,N308,E1164,1,1,0.25,13240,6600,6640,3,20201222
3,2019,1,109043837,2,12,46,20190807,2,1,E1164,N308,7,21,0.25,861590,205810,655780,0,20201222
4,2019,1,103174392,2,12,46,20190318,3,13,H6531,J303,1,1,0.15,48440,14500,33940,3,20201222

In [7]:
hos_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13178345 entries, 0 to 3951426
Data columns (total 19 columns):
 #   Column      Dtype
---  ------      -----
 0   기준년도        int64
 1   가입자 일련번호    int64
 2   진료내역일련번호    int64
 3   성별코드        int64
 4   연령대코드       int64
 5   시도코드        int64
 6   요양개시일자      int64
 7   서식코드        int64
 8   진료과목코드      int64
 9   주상병코드       object
 10  부상병코드       object
 11  요양일수        int64
 12  입내원일수       int64
 13  심결가산율       float64
 14  심결요양급여비용총액  int64
 15  심결본인부담금     int64
 16  심결보험자부담금    int64
 17  총처방일수       int64
 18  데이터 기준일자    int64
dtypes: float64(1), int64(16), object(2)
memory usage: 2.0+ GB

- concat

In [8]:
data_2019 = pd.concat([data_2019_01, data_2019_02, data_2019_03])

In [9]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13178345 entries, 0 to 3951426
Data columns (total 19 columns):
 #   Column      Dtype
---  ------      -----
 0   기준년도        int64
 1   가입자 일련번호    int64
 2   진료내역일련번호    int64
 3   성별코드        int64
 4   연령대코드       int64
 5   시도코드        int64
 6   요양개시일자      int64
 7   서식코드        int64
 8   진료과목코드      int64
 9   주상병코드       object
 10  부상병코드       object
 11  요양일수        int64
 12  입내원일수       int64
 13  심결가산율       float64
 14  심결요양급여비용총액  int64
 15  심결본인부담금     int64
 16  심결보험자부담금    int64
 17  총처방일수       int64
 18  데이터 기준일자    int64
dtypes: float64(1), int64(16), object(2)
memory usage: 2.0+ GB

## 필요한 컬럼만 추출하기

#### 3 성별코드, 4 연령대코드 , 5 시도코드, 8 진료과목코드, 9 주상병코드, 10 부상병코드 사용

- drop() 사용

In [24]:
data_2019 = data_2019.drop(['기준년도','가입자 일련번호', '진료내역일련번호', '요양개시일자', '서식코드', '요양일수', '입내원일수', '심결가산율', '심결요양급여비용총액', '심결본인부담금', '심결보험자부담금', '총처방일수', '데이터 기준일자'], axis=1)
data_2019.head()

   성별코드  연령대코드  시도코드  진료과목코드  주상병코드  부상병코드
0     2     12    46       5   M751   M750
1     2     12    46       1  E1164   N308
2     2     12    46       1   N308  E1164
3     2     12    46       1  E1164   N308
4     2     12    46      13  H6531   J303

In [15]:
# 엑셀 파일로 저장
# data_2019.to_excel('./data/H_data/data_2019_df', index = False)

# 연령대 별로 자주 걸리는 질병은?

## 빈도 수 확인
   - value.counts() 활용

In [16]:
data_2019.value_counts()   # 2019_01 전체, 이것보단 컬럼별로 확인 필요

기준년도  가입자 일련번호  진료내역일련번호   성별코드  연령대코드  시도코드  요양개시일자    서식코드  진료과목코드  주상병코드  부상병코드  요양일수  입내원일수  심결가산율  심결요양급여비용총액  심결본인부담금  심결보험자부담금  총처방일수  데이터 기준일자
2019  1         100686658  2     12     46    20190102  3     5       M171   S134   1     1      0.15   78370       23500    54870     7      20201222    1
      666449    107053505  2     11     49    20190910  3     1       I109   E1140  1     1      0.15   12290       3600     8690      30     20201222    1
      666448    109650872  1     11     11    20190712  3     1       I109   E785   1     1      0.15   13230       3900     9330      30     20201222    1
                110789211  1     11     11    20190612  3     1       I109   E785   1     1      0.15   13230       3900     9330      30     20201222    1
                112016946  1     11     11    20190513  3     1       I109   E785   1     1      0.15   13230       3900     9330      30     20201222    1
                                                                                                                                                         ..
      332540    105714540  1     14     31    20191130  3     1       E119   E782   1     1      0.15   14770       1500     13270     15     20201222    1
                105721487  1     14     31    20191115  3     1       E119   E782   1     1      0.15   38760       11600    27160     15     20201222    1
                106696708  1     14     31    20191011  3     12      H3531  H318   1     1      0.25   127630      12700    114930    120    20201222    1
                107105398  1     14     31    20190920  3     1       E119   E782   1     1      0.15   16770       1600     15170     30     20201222    1
      1000000   112160336  2     1      47    20190423  2     11      P220   P0730  50    50     0.25   39051190    95320    38955870  0      20201222    1
Length: 13178345, dtype: int64

In [20]:
# 연령에 상관 없이 가장 많이 진단받은 질병은?
data_2019['주상병코드'].value_counts()

J209     1141433
I109      721046
F_        400125
E119      228032
N_        226973
          ...
P610           1
M8890          1
M2122          1
T864           1
M6137          1
Name: 주상병코드, Length: 9422, dtype: int64

In [19]:
# 병원을 많이 찾은(=건보공단 보장을 많이 이용한) 연령은?
data_2019['연령대코드'].value_counts()

13    1257824
12    1142160
14    1095067
15    1018216
1      975520
11     962494
16     937515
10     822247
2      674510
9      657625
8      650838
17     628376
7      493883
6      451349
5      361527
3      361001
4      344120
18     344073
Name: 연령대코드, dtype: int64

### Insight

**병원 이용 순위**
   - 1위 60~64세(13)
   - 2위 55~59세(12)
   - 3위 65~69세(14)
   - 4위 70~74세(15)
   - 5위 50~54세(11)
   - ...
   - 18위 15~19세(4)
   
 1위인 60 ~ 64세(13)와 마지막 순위인 15 ~ 19세(4)는 약 4배 차이

코드별 대응 연령은 https://sgis.kostat.go.kr/developer/html/openApi/api/dataCode/PplAgeCode.html 참조했음

0~4세	01

5~9세	02

10~14세	03

15~19세	04

20~24세	05

25~29세	06

30~34세	07

35~39세	08

40~44세	09

45~49세	10

50~54세	11

55~59세	12

60~64세	13

65~69세	14

70~74세	15

75~79세	16

80~84세	17

85~89세	18

In [21]:
# 연령대코드를 index로 설정(세팅, set), 오름차순으로 정렬(sort)
data2 = data_2019.set_index('연령대코드')
data2.sort_index()

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
연령대코드,,,,,,,,,,,,,,,,,,
1,2019,499705,102602882,1,41,20190116,3,13,H6691,J0191,1,1,0.15,12610,600,12010,3,20201222
1,2019,376937,104663177,1,47,20191224,3,13,H6640,J0180,1,1,0.15,14240,1400,12840,4,20201222
1,2019,376937,111218037,1,47,20190603,3,13,J209,H6641,1,1,0.15,14240,1400,12840,4,20201222
1,2019,376937,107656708,1,47,20190926,3,13,J0390,J0190,1,1,0.15,14240,1400,12840,4,20201222
1,2019,376937,105032658,1,47,20191010,3,13,J0191,A090,1,1,0.15,11790,1100,10690,4,20201222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,2019,580074,104213835,1,31,20191127,3,1,J4499,C3410,1,1,0.25,17350,800,16550,35,20201222
18,2019,580074,113091492,1,31,20190411,3,7,I109,E785,1,1,0.15,14310,1500,12810,30,20201222
18,2019,580074,106290078,1,31,20191005,3,7,I109,R060,1,1,0.15,29770,8900,20870,14,20201222
18,2019,647754,100241967,2,27,20190327,3,1,M5446,I509,1,1,0.15,16770,1600,15170,60,20201222
18,2019,801424,102962410,2,46,20190313,3,4,M750,M1394,1,1,0.15,19070,1900,17170,0,20201222

In [22]:
# groupby의 size() 함수를 사용해 연령대 별 주상병코드의 빈도 수를 추출
data3 = data2.groupby(by=['연령대코드', '주상병코드'])
data3.size()

연령대코드  주상병코드
1      A044       2
       A047      49
       A048      15
       A049     363
       A069      17
               ...
18     Z9663     15
       Z9664      6
       Z9881      2
       Z9888    341
       Z_         6
Length: 79222, dtype: int64

## 
 - 위 결과를 새로 정렬해 연령대 별로 빈도 수가 높은 주상병코드 찾기는 현 숙련도에서는 어렵다고 판단함