# 지역별 병의원 데이터 전처리

## 데이터 가져오기

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import csv 
import matplotlib.pyplot as plt

In [2]:
# 데이터 호출
hospital = pd.read_csv('./data/전국병원정보/fulldata_01_01_01_P_병원.csv', encoding='cp949')
hospital.head()

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,지정취소일자,완화의료지정형태,완화의료담당부서명,구급차특수,구급차일반,총인원,구조사수,허가병상수,최초지정일자,Unnamed: 44
0,1,병원,01_01_01_P,5530000,PHMA220115530021021200002,20110221,NaN,2,휴업,02,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN
1,2,병원,01_01_01_P,5710000,PHMA220185710109021200001,20180601,NaN,2,휴업,02,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN
2,3,병원,01_01_01_P,4430000,PHMA220084430014021200003,20080414,NaN,2,휴업,02,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN
3,4,병원,01_01_01_P,4470000,PHMA220164470017021200001,20160325,NaN,2,휴업,02,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN
4,5,병원,01_01_01_P,5580000,PHMA220105580013021200001,20100507,NaN,2,휴업,02,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN

In [3]:
hospital.head()

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,지정취소일자,완화의료지정형태,완화의료담당부서명,구급차특수,구급차일반,총인원,구조사수,허가병상수,최초지정일자,Unnamed: 44
0,1,병원,01_01_01_P,5530000,PHMA220115530021021200002,20110221,NaN,2,휴업,02,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN
1,2,병원,01_01_01_P,5710000,PHMA220185710109021200001,20180601,NaN,2,휴업,02,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN
2,3,병원,01_01_01_P,4430000,PHMA220084430014021200003,20080414,NaN,2,휴업,02,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN
3,4,병원,01_01_01_P,4470000,PHMA220164470017021200001,20160325,NaN,2,휴업,02,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN
4,5,병원,01_01_01_P,5580000,PHMA220105580013021200001,20100507,NaN,2,휴업,02,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN

In [5]:
hospital.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6864 entries, 0 to 6863
Data columns (total 45 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   번호           6864 non-null   int64
 1   개방서비스명       6864 non-null   object
 2   개방서비스아이디     6864 non-null   object
 3   개방자치단체코드     6864 non-null   int64
 4   관리번호         6864 non-null   object
 5   인허가일자        6864 non-null   int64
 6   인허가취소일자      0 non-null      float64
 7   영업상태구분코드     6864 non-null   int64
 8   영업상태명        6864 non-null   object
 9   상세영업상태코드     6864 non-null   object
 10  상세영업상태명      6844 non-null   object
 11  폐업일자         2140 non-null   float64
 12  휴업시작일자       241 non-null    float64
 13  휴업종료일자       237 non-null    float64
 14  재개업일자        0 non-null      float64
 15  소재지전화        6599 non-null   object
 16  소재지면적        0 non-null      float64
 17  소재지우편번호      2798 non-null   object
 18  소재지전체주소      5496 non-null   object
 19  도로명전체주소      6465 non-null   object
 20  도로명우편번호      5675 non-null   float64
 21  사업장명         6864 non-null   object
 22  최종수정시점       6864 non-null   int64
 23  데이터갱신구분      6864 non-null   object
 24  데이터갱신일자      6864 non-null   object
 25  업태구분명        6864 non-null   object
 26  좌표정보(x)      6232 non-null   float64
 27  좌표정보(y)      6232 non-null   float64
 28  의료기관종별명      6718 non-null   object
 29  의료인수         6845 non-null   float64
 30  입원실수         6842 non-null   float64
 31  병상수          6842 non-null   float64
 32  총면적          6823 non-null   float64
 33  진료과목내용       6526 non-null   object
 34  진료과목내용명      6526 non-null   object
 35  지정취소일자       0 non-null      float64
 36  완화의료지정형태     0 non-null      float64
 37  완화의료담당부서명    0 non-null      float64
 38  구급차특수        6851 non-null   float64
 39  구급차일반        6851 non-null   float64
 40  총인원          0 non-null      float64
 41  구조사수         0 non-null      float64
 42  허가병상수        6851 non-null   float64
 43  최초지정일자       0 non-null      float64
 44  Unnamed: 44  0 non-null      float64
dtypes: float64(23), int64(5), object(17)
memory usage: 2.4+ MB

## 원하는 컬럼 뽑기

In [4]:
# drop()
hospital_00 = hospital.drop(['인허가취소일자','재개업일자', '소재지면적', '완화의료지정형태', '지정취소일자', '완화의료담당부서명', '총인원', '구조사수', '최초지정일자'], axis=1)
hospital_00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6864 entries, 0 to 6863
Data columns (total 36 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   번호           6864 non-null   int64
 1   개방서비스명       6864 non-null   object
 2   개방서비스아이디     6864 non-null   object
 3   개방자치단체코드     6864 non-null   int64
 4   관리번호         6864 non-null   object
 5   인허가일자        6864 non-null   int64
 6   영업상태구분코드     6864 non-null   int64
 7   영업상태명        6864 non-null   object
 8   상세영업상태코드     6864 non-null   object
 9   상세영업상태명      6844 non-null   object
 10  폐업일자         2140 non-null   float64
 11  휴업시작일자       241 non-null    float64
 12  휴업종료일자       237 non-null    float64
 13  소재지전화        6599 non-null   object
 14  소재지우편번호      2798 non-null   object
 15  소재지전체주소      5496 non-null   object
 16  도로명전체주소      6465 non-null   object
 17  도로명우편번호      5675 non-null   float64
 18  사업장명         6864 non-null   object
 19  최종수정시점       6864 non-null   int64
 20  데이터갱신구분      6864 non-null   object
 21  데이터갱신일자      6864 non-null   object
 22  업태구분명        6864 non-null   object
 23  좌표정보(x)      6232 non-null   float64
 24  좌표정보(y)      6232 non-null   float64
 25  의료기관종별명      6718 non-null   object
 26  의료인수         6845 non-null   float64
 27  입원실수         6842 non-null   float64
 28  병상수          6842 non-null   float64
 29  총면적          6823 non-null   float64
 30  진료과목내용       6526 non-null   object
 31  진료과목내용명      6526 non-null   object
 32  구급차특수        6851 non-null   float64
 33  구급차일반        6851 non-null   float64
 34  허가병상수        6851 non-null   float64
 35  Unnamed: 44  0 non-null      float64
dtypes: float64(14), int64(5), object(17)
memory usage: 1.9+ MB

In [5]:
# loc() 추천
hospital_01 = hospital_00.loc[:,['영업상태명','도로명전체주소','사업장명','좌표정보(x)','좌표정보(y)','의료기관종별명','진료과목내용','진료과목내용명']]
hospital_01.head()

,영업상태명,도로명전체주소,사업장명,좌표정보(x),좌표정보(y),의료기관종별명,진료과목내용,진료과목내용명
0,휴업,경기도 화성시 팔탄면 온천로 29,의료법인 화성의료재단 화성제일병원,187458.013247,402973.650082,병원,120 113 104,"외과, 이비인후과, 재활의학과"
1,휴업,충청북도 청주시 청원구 내수읍 마산길 8-11,의료법인홍익의료재단파스카요양병원,248074.000000,357472.000000,요양병원(일반요양병원),122,가정의학과
2,휴업,충청북도 옥천군 옥천읍 중앙로 72,의료법인건우의료재단큰사랑요양병원,251194.421742,311546.395897,요양병원(일반요양병원),122 104 120 115 301,"외과, 비뇨의학과, 재활의학과, 가정의학과, 한방내과"
3,휴업,충청북도 음성군 감곡면 장감로 118-1,의료법인 청미의료재단 청미요양병원,256423.100993,402026.479805,요양병원(일반요양병원),122 105 101,"내과, 정형외과, 가정의학과"
4,휴업,충청남도 계룡시 계룡대로 295 (금암동),의료법인 계룡의료재단 계룡병원,223019.435125,308022.966751,병원,101 122,"내과, 가정의학과"

## 영업상태 - 영업/정상 뽑기

방법 1 contains

In [6]:
hospital_01[hospital_01['영업상태명'].str.contains('영업', na=False)]

,영업상태명,도로명전체주소,사업장명,좌표정보(x),좌표정보(y),의료기관종별명,진료과목내용,진료과목내용명
2088,영업/정상,"대전광역시 대덕구 동서대로1777번길 2-0, 대전웰니스병원층 (송촌동,대전웰니스병원)",대전웰니스병원,239729.320277,317207.703078,의사,NaN,NaN
2089,영업/정상,"경상북도 경산시 경산로 174-0, A동 양지요양병원1~3층층 (옥산동,양지요양병원...",의료법인양지의료재단 양지기쁨병원,356018.202591,259569.888640,NaN,NaN,NaN
2090,영업/정상,전라남도 목포시 수강로12번길 11-1 (행복동2가),의료법인항운의료재단 목포노동병원,143735.241189,143322.546469,의사,"내과, 외과","내과, 외과"
2091,영업/정상,"전라남도 목포시 녹색로 41, (석현동)층 (석현동)",목포미래병원,147497.000000,147318.000000,의사,NaN,NaN
2092,영업/정상,"경상북도 영주시 반지미로 275-17, 새희망병원층 (가흥동,새희망병원)",의료법인태훈의료재단새희망병원,342313.000000,370443.000000,NaN,정신건강의학과,정신건강의학과
...,...,...,...,...,...,...,...,...
6859,영업/정상,"강원도 영월군 영월읍 중앙로 10, 층",푸른사랑병원,330015.564028,410050.982404,의사,NaN,NaN
6860,영업/정상,"강원도 홍천군 홍천읍 홍천로 342-10, 342층",미성의료재단 아름다운병원,277834.571475,465448.840550,NaN,NaN,NaN
6861,영업/정상,"강원도 원주시 원문로 141- , (단계동)층 (단계동)",정병원,NaN,NaN,의사,NaN,NaN
6862,영업/정상,"강원도 인제군 인제읍 비봉로 19, 19층",인제고려병원,302989.256807,508172.799912,의사,NaN,NaN
6863,영업/정상,"대전광역시 유성구 온천동로 3-0, 유성웰니스병원층 (봉명동)",의료법인 리노의료재단 유성웰니스재활병원,231180.806734,316902.570814,의사,NaN,NaN

방법 2 상태명에서 원하는 항목 뽑기

In [9]:
hospital_01['영업상태명'].value_counts()

영업/정상             4630
폐업                2024
취소/말소/만료/정지/중지     146
휴업                  64
Name: 영업상태명, dtype: int64

In [10]:
hospital_01['영업상태명'] == '영업/정상'

0       False
1       False
2       False
3       False
4       False
        ...
6859     True
6860     True
6861     True
6862     True
6863     True
Name: 영업상태명, Length: 6864, dtype: bool

In [11]:
condition = hospital_01['영업상태명'] == '영업/정상'
hos_open = hospital_01[condition]
hos_open.head()

,영업상태명,도로명전체주소,사업장명,좌표정보(x),좌표정보(y),의료기관종별명,진료과목내용,진료과목내용명
2088,영업/정상,"대전광역시 대덕구 동서대로1777번길 2-0, 대전웰니스병원층 (송촌동,대전웰니스병원)",대전웰니스병원,239729.320277,317207.703078,의사,NaN,NaN
2089,영업/정상,"경상북도 경산시 경산로 174-0, A동 양지요양병원1~3층층 (옥산동,양지요양병원...",의료법인양지의료재단 양지기쁨병원,356018.202591,259569.888640,NaN,NaN,NaN
2090,영업/정상,전라남도 목포시 수강로12번길 11-1 (행복동2가),의료법인항운의료재단 목포노동병원,143735.241189,143322.546469,의사,"내과, 외과","내과, 외과"
2091,영업/정상,"전라남도 목포시 녹색로 41, (석현동)층 (석현동)",목포미래병원,147497.000000,147318.000000,의사,NaN,NaN
2092,영업/정상,"경상북도 영주시 반지미로 275-17, 새희망병원층 (가흥동,새희망병원)",의료법인태훈의료재단새희망병원,342313.000000,370443.000000,NaN,정신건강의학과,정신건강의학과

In [36]:
hos_open.to_excel('./data/hos_open.xlsx', index=False)

In [12]:
hos_open_01 = pd.read_excel('./data/hos_open.xlsx')

### 서울특별시 주소 뽑기

In [13]:
hos_open_01['도로명전체주소']

0        대전광역시 대덕구 동서대로1777번길 2-0, 대전웰니스병원층 (송촌동,대전웰니스병원)
1       경상북도 경산시 경산로 174-0, A동 양지요양병원1~3층층 (옥산동,양지요양병원...
2                           전라남도 목포시 수강로12번길 11-1 (행복동2가)
3                          전라남도 목포시 녹색로 41,  (석현동)층 (석현동)
4                경상북도 영주시 반지미로 275-17, 새희망병원층 (가흥동,새희망병원)
                              ...
4625                               강원도 영월군 영월읍 중앙로 10,  층
4626                         강원도 홍천군 홍천읍 홍천로 342-10, 342층
4627                     강원도 원주시 원문로 141- ,  (단계동)층 (단계동)
4628                              강원도 인제군 인제읍 비봉로 19, 19층
4629                   대전광역시 유성구 온천동로 3-0, 유성웰니스병원층 (봉명동)
Name: 도로명전체주소, Length: 4630, dtype: object

In [14]:
hos_open_01['도로명전체주소'].str.split(' ')

0       [대전광역시, 대덕구, 동서대로1777번길, 2-0,, 대전웰니스병원층, (송촌동,...
1       [경상북도, 경산시, 경산로, 174-0,, A동, 양지요양병원1~3층층, (옥산동...
2                     [전라남도, 목포시, 수강로12번길, 11-1, (행복동2가)]
3                  [전라남도, 목포시, 녹색로, 41,, , (석현동)층, (석현동)]
4         [경상북도, 영주시, 반지미로, 275-17,, 새희망병원층, (가흥동,새희망병원)]
                              ...
4625                       [강원도, 영월군, 영월읍, 중앙로, 10,, , 층]
4626                  [강원도, 홍천군, 홍천읍, 홍천로, 342-10,, 342층]
4627            [강원도, 원주시, 원문로, 141-, ,, , (단계동)층, (단계동)]
4628                       [강원도, 인제군, 인제읍, 비봉로, 19,, 19층]
4629            [대전광역시, 유성구, 온천동로, 3-0,, 유성웰니스병원층, (봉명동)]
Name: 도로명전체주소, Length: 4630, dtype: object

In [15]:
hos_open_01['도로명전체주소'].str.split(' ')[0]

['대전광역시', '대덕구', '동서대로1777번길', '2-0,', '대전웰니스병원층', '(송촌동,대전웰니스병원)']

In [16]:
hos_open_01['도로명전체주소'].str.split(' ').str[0] == '서울특별시'

0       False
1       False
2       False
3       False
4       False
        ...
4625    False
4626    False
4627    False
4628    False
4629    False
Name: 도로명전체주소, Length: 4630, dtype: bool

In [17]:
condition2 = hos_open_01['도로명전체주소'].str.split(' ').str[0] == '서울특별시'
hos_seoul = hos_open_01[condition2]
hos_seoul.head()

,영업상태명,도로명전체주소,사업장명,좌표정보(x),좌표정보(y),의료기관종별명,진료과목내용,진료과목내용명
591,영업/정상,"서울특별시 중랑구 망우로 511 (망우동, 동부제일병원)",의료법인풍산의료재단동부제일병원,209677.312834,455706.658891,종합병원,101 102 104 105 106 109 110 111 116 119 122,"내과, 신경과, 외과, 정형외과, 신경외과, 마취통증의학과, 산부인과, 소아청소년과..."
592,영업/정상,서울특별시 중랑구 면목로 473 (상봉동),강북21세기병원,207506.248550,454647.912047,병원,116 109 106 105 101,"내과, 정형외과, 신경외과, 마취통증의학과, 영상의학과"
593,영업/정상,"서울특별시 중랑구 용마산로117길 49, 장스여성병원 비동 (7층 일부제외)동 (망우동)",장스여성병원,208547.560589,455271.790328,병원,110 111 101 116 119,"내과, 산부인과, 소아청소년과, 영상의학과, 진단검사의학과"
594,영업/정상,서울특별시 중랑구 사가정로49길 53 (면목동),녹색병원,207545.431398,453474.580080,종합병원,125 124 122 120 119 116 115 111 110 109 106 10...,"내과, 신경과, 정신건강의학과, 외과, 정형외과, 신경외과, 마취통증의학과, 산부인..."
595,영업/정상,"서울특별시 중랑구 망우로 474 (망우동, 조앤조병원)",조앤조병원,209177.682798,455333.044482,병원,101 104 105 106 109 114 115 116 120,"내과, 외과, 정형외과, 신경외과, 마취통증의학과, 피부과, 비뇨의학과, 영상의학과..."

In [18]:
hos_seoul.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 546 entries, 591 to 4607
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   영업상태명    546 non-null    object
 1   도로명전체주소  546 non-null    object
 2   사업장명     546 non-null    object
 3   좌표정보(x)  526 non-null    float64
 4   좌표정보(y)  526 non-null    float64
 5   의료기관종별명  546 non-null    object
 6   진료과목내용   546 non-null    object
 7   진료과목내용명  546 non-null    object
dtypes: float64(2), object(6)
memory usage: 38.4+ KB

In [19]:
hos_seoul.to_excel('./data/hos_seoul.xlsx', index = False)

### 진료과목을 뽑아보자

In [20]:
hos_seoul['진료과목내용'].str.split(' ')

591     [101, 102, 104, 105, 106, 109, 110, 111, 116, ...
592                             [116, 109, 106, 105, 101]
593                             [110, 111, 101, 116, 119]
594     [125, 124, 122, 120, 119, 116, 115, 111, 110, ...
595         [101, 104, 105, 106, 109, 114, 115, 116, 120]
                              ...
4596        [308, 307, 306, 305, 304, 303, 302, 301, 122]
4599                            [301, 122, 120, 102, 101]
4600    [308, 307, 306, 305, 304, 303, 302, 301, 122, ...
4606                                 [307, 306, 301, 109]
4607                       [116, 109, 106, 105, 104, 101]
Name: 진료과목내용, Length: 546, dtype: object